/* La liste des catégories */
.ui-tabs-vertical {
	width: 55em;
}

.ui-tabs-vertical .ui-tabs-nav {
	padding: .2em .1em .2em .2em;
	float: left;
	width: 12em;
}

.ui-tabs-vertical .ui-tabs-nav li {
	clear: left;
	width: 100%; 
	border-bottom-width: 1px !important; 
	border-right-width: 0 !important; 
	margin: 0 -1px .2em 0; 
}

.ui-tabs-vertical .ui-tabs-nav li a { 
	display:block; 
}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { 
	padding-bottom: 0; 
	border-right-width: 1px; 
	border-right-width: 1px;
}

.ui-tabs-vertical .ui-tabs-panel { 
	float: right; 
	width: 40em;
	margin-top: 3px;
}

/* La liste d'image */
.listImage { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 60%; 
}

.listImage li { 
	margin: 0 3px 3px 3px; 
	padding: 0.4em; 
	padding-left: 1.5em; 
	height: 18px;
	cursor: pointer;  
}

.listImage li .editImage { 
	position: absolute; 
	margin-left: 1em;
}


#divList { 
	overflow: auto; 
} 

.right { 
	float: right; 
} 

.center { 
	float: center; 
} 

.curseur { 
	cursor: pointer; 
}

.petite_image {
	width: 17px;
}

h2 {
	margin: 0;
}
 